header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-right: 120px;
}

.icon--blue {
  color: var(--main-site-color);
  font-size: 2rem;
}

.header__explore > h2 {
  font-weight: 400;
}

