.modal {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.login {
  background-color: #fff;
  border-radius: 16px;
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5px;
  padding-bottom: 35px;
}

.login__heading {
  align-self: flex-start;
  padding-left: 80px;
  font-size: 30px;
  padding-bottom: 25px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.login__form > label {
  display: flex;
  flex-direction: column;
  border: none;
  width: 72%;
  height: 50px;
  padding-bottom: 25px;
}

.login__form > label > input {
  border: 1px solid #cfd9de;
  border-radius: 4px;
  height: 100%;
  font-size: 17px;
  text-indent: 7.5px;
  outline: none;
}

.login__form > label > input:focus {
  border: 1px solid var(--main-site-color);
  border-radius: 4px;
}

.login__footer {
  display: flex;
  align-self: flex-start;
  padding-left: 80px;
  padding-top: 27.5px;
  padding-bottom: 15px;
  gap: 5px;
  color: var(--gray);
}


.login__form > button {
  cursor: pointer;
  width: 72%;
  border: none;
  border-radius: 9999px;
  height: 43px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background-color: #000000;
  margin-top: 180px;
}