.page {
  display: flex;
}

.main {
  display: flex;
  grid-template-columns: 600px auto;
  margin-left: 30%;
}

.main__middle {
  width: 600px;
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
}

.main__end {
  width: auto;
}