.search {
  width: 100%;
}

.search > form {
  padding: 15px;
}

.search__bar {
  width: 85%;
  height: 40px;
  position: relative;
}

.search__icon {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  color: var(--gray);
}

.search__input {
  background-color: var(--light-gray);
	border: 1px solid transparent;
	border-radius: 100px;
	outline: none;
	height: 100%;
	width: 100%;
	font-size: 15px;
  text-indent: 50px;
  padding-right: 20px;
}

.search__input:focus {
  background-color: #fff;
  border-color: var(--main-site-color);
}

.search__input:focus + .search__icon {
  color: var(--main-site-color);
}